@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory Management System</h1>
    <p>Powered by <a href="https://www.hcltechsw.com/products/informix">HCL Informix (Informix .Net Core)</a>.</p>
</div>
